.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* height: 100%; */
}

.content{
  flex:1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.footer {
  height: 100px;
  background: red;
}

img{
  width: 500px;
  height: auto;
}
